## SWAP THE VALUE

In [26]:
a,b=5,7
a=a*b
b=a/b
print("b is equal to ",b)
a=a/b
print("a is equal to ",a)

b is equal to  5.0
a is equal to  7.0

## Table of Square and Cube

In [1]:
a,b,c,d,e,f,g,h,i,j,k=0,1,2,3,4,5,6,7,8,9,10
print("number   square  cube ")
print(a,"\t", a**2,"\t",a**3)
print(b,"\t", b**2,"\t",b**3)
print(c,"\t", c**2,"\t",c**3)
print(d,"\t", d**2,"\t",d**3)
print(e,"\t", e**2,"\t",e**3)
print(f,"\t", f**2,"\t",f**3)
print(g,"\t", g**2,"\t",g**3)
print(h,"\t", h**2,"\t",h**3)
print(i,"\t", i**2,"\t",i**3)
print(j,"\t", j**2,"\t",j**3)
print(k,"\t", k**2,"\t",k**3)

number   square  cube
0 	 0 	 0
1 	 1 	 1
2 	 4 	 8
3 	 9 	 27
4 	 16 	 64
5 	 25 	 125
6 	 36 	 216
7 	 49 	 343
8 	 64 	 512
9 	 81 	 729
10 	 100 	 1000

## Draw a BOx ,an Arrrow ,an Ovel ,a Diamond

In [8]:
print('''*********
*        *        
*        *        
*        *
*********''')

*********
*        *
*        *
*        *
*********

In [11]:
print('''   ***
 *     *
*       *
*       *
*       *
*       *
*       *
*       *
 *    *
   ***''')

   ***
 *     *
*       *
*       *
*       *
*       *
*       *
*       *
 *    *
   ***

In [14]:
print('''   *
  ***
 *****
   *
   *
   *
   *
   *''')

   *
  ***
 *****
   *
   *
   *
   *
   *

In [6]:
print('''             *
            * * 
           *   *
          *     *
         *       *
          *     * 
           *   *
            * *  
             *''')

             *
            * *
           *   *
          *     *
         *       *
          *     *
           *   *
            * *
             *

In [1]:

6*--------8

48

In [2]:
8=people

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1061969552.py, line 1)

In [3]:
((((4**3))))

64

In [4]:
(-(-(-(-5))))

5

SyntaxError: 'literal' is an illegal expression for augmented assignment (3202540999.py, line 1)